<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container page">

      <h1 class="page-label">Edit Wiki</h1>

      <form action="/wikis/<%= wiki.id %>/update" method="post">
        <div class="form-group">
          <label for="name">Wiki name</label>
          <input value="<%= wiki.name %>" type="text" class="form-control" name="name" aria-describedby="nameHelp" placeholder="Enter Name">
        </div>
        <div class="form-group">
          <label for="body">Body</label>
          <textarea rows="8" class="form-control" name="body" placeholder="Enter Body"><%= wiki.body %></textarea>
        </div>
        <% if((currentUser && (currentUser.role === "admin" || currentUser.role === "premium")) && wiki.userId === currentUser.id){ %>
        <% } %>
        <% if(wiki.private == false) {%>
            <label for="private">Public</label>
        <% } else { %>
            <label for="private">Private</label>
        <% } %>
        <label class="switch">
            <input type="checkbox"  value="<%= wiki.private %>" class="form-control" name="private">
            <span class="slider"></span>
        </label>

        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>