<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main>

      <h1 class="page-label">New Wiki</h1>

      <form action="/wikis/create" method="post">
        <div class="form-group">
          <label for="name">Wiki name</label>
          <input type="text" class="form-control" name="name" aria-describedby="nameHelp" placeholder="Enter Name">
        </div>
        <div class="form-group">
          <label for="body">Body</label>
          <textarea rows="8" class="form-control" name="body" placeholder="Enter Body"></textarea>
        </div>
        <% if((currentUser && (currentUser.role === "admin" || currentUser.role === "premium")) && wiki.userId === currentUser.id){ %>
        <% } %> <!-- Not using the above line for anything, just for testing the reference of wiki-->
            <% if((wiki.userId) == true){%>
                <label for="private">Public</label>
            <% } else { %>
                <label for="private">Private</label>
            <% } %>
            <label class="switch">
                <input type="checkbox"  value="<%= wiki.private %>" class="form-control" name="private">
                <span class="slider"></span>
            </label>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>