<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body>
        <main>
            <h1>Welcome to Blocipedia</h1>
            <ul>
                <li>
                    <a href="/users/sign_up/">Sign Up</a>
                </li>
            </ul>
        </main>
    </body>


</html>